/* MODEL-AD Explorer Styles */
@import url('//fonts.googleapis.com/css2?family=Lato:100,300,400');

:root {
  --font: "Lato", Sans-Serif;
  --base-size: 19px;
  --small-size: 16px;
  --light-weight: 100;
  --regular-weight: 300;
  --bold-weight: 400;
}

/* ------  Header and font styles ------ */

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font);
   line-height: 1em;
   font-weight: var(--bold-weight);
   padding-top: 10px;
   margin-top: 0;
   margin-bottom: 15px;
}

h1 {
   font-weight: var(--light-weight);
   font-size: 42px;
}

h2 {
   font-size: 32px;
}

h3 {
   font-size: 25px;
}

body {
   font-family: var(--font);
   font-size: var(--base-size);
   font-weight: var(--regular-weight);
}

/* Bold links in paragraphs */
p > a {
   font-weight: var(--bold-weight);
}

/* Size of input labels */
.control-label {
   font-size: var(--base-size);
   font-weight: var(--bold-weight);
}

/* Size of inputs content and dropdowns */
.bootstrap-select > .dropdown-toggle, .dropdown-menu > li > a {
   font-size: var(--small-size);
   font-weight: var(--regular-weight);
}

/* Buttons, Select all / deselect all buttons */
.btn, .bs-actionsbox .btn-group button {
   font-size: var(--small-size);
   font-weight: var(--bold-weight);
}

/* Increase size of navbar dropdown links */
.navbar-nav .dropdown-menu > li > a {
   font-size: var(--base-size);
   font-weight: var(--regular-weight);
}

/* Bold and color mentions of RED or BLUE with their actual colours */

.blue {
   color: #164B6E;
   font-weight: var(--bold-weight);
}

.red {
   color: #85070C;
   font-weight: var(--bold-weight);
}

/* Change bold weight */

b, strong {
   font-weight: var(--bold-weight);
}

/* Table styles */

.ReactTable {
   font-size: var(--small-size);
   font-weight: var(--bold-weight);
}
/* ------ General page elements ------ */

.magora-page {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;
}

.magora-topbar {
   height: 6px;
   background: transparent linear-gradient(to right, #D3DCEF 0%, #D5E9F0 100%) repeat scroll 0 0;
   margin-left: -15px;
   margin-right: -15px;
}

.magora-brand {
   float: none;
   height: auto;
   padding-top: 26px;
   padding-bottom: 24px;
}

/* Class "row" has margin-right and -left -15px - set to 0 to retain consistent widths with other divs */
.magora-row {
   margin-right: 0;
   margin-left: 0;
}

/* Cursor for plots that can be clicked on to get the interactive version should be a zoom-in, not a crosshair */
.crosshair {
   cursor: zoom-in;
}

/* ------ Start page elements ------ */
.start-divider {
   height: 6px;
   background: transparent linear-gradient(to right, #D3DCEF 0%, #D5E9F0 100%) repeat scroll 0 0;
   margin-top: 20px;
   margin-bottom: 20px;
}

.start-banner {
   overflow: visible;
   height: 342px;
}

.start-banner > .start-banner-img {
   background: url("AgoraBanner.svg") center no-repeat;
   background-size: cover;
   position: absolute;
   margin-top: -20px;
   left: 0;
   z-index: -1;
   width: 100%;
   height: inherit;
}

.start-banner > .start-title, .start-banner > .start-header {
   background-color: rgba(255, 255, 255, 0.50);
   display: inline-block;
   padding: 10px 20px 10px 20px;
}

.start-banner > .start-header {
   font-size: 19px;
}

/* ------ Other page elements ------ */

.tab-title {
   color: #4D4D4D;
}

.float {
   float: left;
   padding-bottom: 10px;
}

div.divflex {
   width: 100%;
}

@media (min-width: 1400px){
   div.divflex {
      width: 50%;
   }
}

/* ------ Navbar ------ */

/* Manually setting width so navbar items are centred - this isn't perfect yet */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-container {
    text-align: center;
}

/* Bold active tab name */
.navbar-default .navbar-nav > li.active > a, .dropdown-menu > li.active > a {
   font-weight: var(--bold-weight);
}

/* Add gradient on hover of navbar tabs */
.navbar-default .navbar-nav > li {
   border-top: 2px solid transparent;
}

.navbar-default .navbar-nav > li:hover {
   border-image: linear-gradient(to right, #D3DCEF 0%, #D5E9F0 100%) 1 1 stretch;
   border-image-width: 1 0 0 0;
}

/* Remove background from navbar and tabs */
.navbar-default {
   background-color: transparent;
   border-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
   background-color: transparent;
   text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   background-color: transparent;
}

/* Collapsed navbar in small layout */
/* Say "MENU" instead of hamburger menu icon, which a lot of people don't understand */

/* Hide hamburger */
.icon-bar {
  display: none !important;
}

/* Text instead */
.navbar-toggle:before {
  content: "Menu";
}

/* ------ Dropdown menu ------ */

.dropdown-menu {
   box-shadow: none;
   -webkit-box-shadow: none;
}

/* Hover color */
.dropdown-menu > .active > a, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover, .dropdown-menu > li > a:hover {
   background-color: #F2F8FA;
   color: black;
}

/* ------ Inputs ------ */

/* Increase the width of dropdowns that are too small for their content */
.dropdown-too-small .dropdown-menu.open {
    min-width: 150%;
}

/* Hide "Select All" in gene selector in "Gene Expressions: Selected Genes" page, so that the only option is to clear the selected genes */

#gene_expression_heatmap #gene_expression_heatmap_gene_column .actions-btn.bs-select-all.btn.btn-default {
   display: none;
}

#gene_expression_heatmap #gene_expression_heatmap_gene_column .actions-btn.bs-deselect-all.btn.btn-default {
   width: 100%;
}
